body {
    overflow: hidden;
    color: white !important;
    font-family: 'Roboto';
}

.link {
    background: #008CBA !important;
    color:#fff !important;
    border-radius:2px !important;
    padding:5px;
    width:140px;
    height:auto;
    font-family: 'PT Sans';
}

.link:hover {
    background: #FFFF !important;
    color:#008CBA !important;
    border-radius:2px !important;
}

a {
    text-decoration: none;
}

input[type="text"]{ padding: 6px }


#wallpaper {
    background-image: url('../img/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(50%);
}